body {
	background:none repeat scroll 0 0 #DDDDDD;
	color:#333333;
	font:12px "Helvetica Neue","Lucida Grande","Helvetica Neue",Arial,sans-serif;
	margin:0;
	min-width:950px;
	padding:0;
	text-align:center;
}
a{outline:none;}

#container {
	margin:0 auto 0;
	min-width:950px;
	text-align:left;
}

/***
General backgrounds. Can be applied to any block or panel
***/

.bg-blue {
  background-image: none !important;
  background-color: #4b8df8 !important;
  border-color:#4b8df8 !important;
  color: #fff !important;
}

.bg-red {
  background-image: none !important;
  background-color: #e02222 !important;
  border-color: #e02222 !important;
  color: #fff !important;
}

.bg-yellow {
  background-image: none !important;
  background-color: #ffb848 !important;
  border-color: #ffb848 !important;
  color: #fff !important;
}

.bg-green {
  background-image: none !important;
  background-color: #35aa47 !important;
  border-color: #35aa47 !important;
  color: #fff !important;
}

.bg-purple {
  background-image: none !important;
  background-color: #852b99 !important;
  border-color: #852b99 !important;
  color: #fff !important;
}

.bg-dark {
  background-image: none !important;
  background-color: #555555 !important;
  border-color: #555555 !important;
  color: #fff !important;
}

.be-grey {
  background-image: none !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}

.row .col-4{width:25%; float:left; height:auto; position:relative;}
.row .col-5{width:20%; float:left; height:auto; position:relative;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

/* top 4 boxes -------------------------------------------------------------- */
.tb-row{width:100%; padding:20px; display:inline-block;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.top-box-4{width:20%; float:left; 	padding-right:20px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.top-box-4.tb1 a{background:#27a9e3;}
.top-box-4.tb2 a{background:#28b779;}
.top-box-4.tb3 a{background:#ffb848;}
.top-box-4.tb4 a{background:#852b99;}
.top-box-4.tb5{background:#333;
	color:#fff;
	text-align:left;
	font-size:14px;
	padding:14px 8px;
}
.top-box-4.tb5 a{color:#fff;}

.top-box-4.tb1 a:hover{background:#208dbe;}
.top-box-4.tb2 a:hover{background:#10a062;}
.top-box-4.tb3 a:hover{background:#cb871b;}
.top-box-4.tb4 a:hover{background:#6e1881;}
.top-box-4.tb5:hover{background:#222;}

.h-btn{padding:0 20px; float:left; color:#fff; text-decoration:none; font-size:20px;
	font-family:Verdana, Geneva, sans-serif;
	width:100%; 
	height:60px;
	opacity:1;
	display:inline-block;
	vertical-align:middle;
	line-height:56px;
	text-align:center;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.h-btn:hover{opacity:1;}


/* main header -------------------------------------------------- */
.main-header{float:left; width:100%; position:relative; z-index:9; clear:both; background:#212121;}
.main-header #logo{float:left;}
.main-header #logo .anchor-link-b{
	background: url(../images/logo.png) no-repeat scroll center 14px rgba(0, 0, 0, 0);
    float: left;
    height: 42px;
    padding: 0;
	margin-left:20px;
    text-indent: -9999px;
    width: 71px;
}
.main-header #menu{float:right; background:none; height:auto; padding:0 20px;}

/* main menu ------------------------------------------------------ */
.main-header .sf-menu{margin:0;}
.main-header .sf-menu li{background:none;}
.main-header .sf-menu li.current a{background:#e02222;}
.main-header .sf-menu a, .main-header .sf-menu a.last{border:none; padding:14px 10px; color:#ddd; background:#212121;}
.main-header a > .sf-sub-indicator{top:15px;}
.sf-menu li:hover ul, .sf-menu li.sfHover ul{top:42px !important;}

.main-header .sf-shadow ul{background:#383838; padding:0;}
.main-header .sf-shadow ul li a{background:#000;}
.main-header .sf-menu li:hover ul, .sf-menu li.sfHover ul{top:42px;}

.main-header .sf-menu li:hover, .main-header .sf-menu li.sfHover, 
.main-header .sf-menu a:focus, .main-header .sf-menu a:hover, .main-header.sf-menu a:active{
	background:#e02222;
}

.main-header .sf-menu li.user ul{left:auto; right:-1px;}



#header {
	background:none repeat scroll 0 0 #FFFFFF;
	width:100%;
	margin:0;
	position:relative;
	text-align:left;
	clear:both;
}

#header #logo {
	padding:35px 0 0 18px;
	font-size:40px;
	float:left;
	width:70%;
}

#header #admin {
	color:#000000;
	font-size:15px;
	display:block;
	position:absolute;
	background:none repeat scroll 0 0 #E5F1F4;
	padding:0 15px 5px 15px;
	-moz-border-radius:0 0 5px 5px;
	margin:0 0 0 350px;
}

#header #info {
	
	/*color:#000000;
	display:block;
	position:absolute;
	right:18px;
	top:20px;
	background:none repeat scroll 0 0 #EEEEEE;
	padding:10px;
	font-size:15px;
	-moz-border-radius: 10px;
	border-radius: 1px;*/
}

#content #main {
	background:none repeat scroll 0 0 #FFFFFF;
	position:relative;
	padding:10px 18px 10px 18px;
	min-height:400px;
}

#content #sidebar {
	background:none repeat scroll 0 0 #EEEEEE;
	float:left;
	width:20%;
}

#content #main #main-title {
	font-size:19px;
	padding:8px 0 8px 0;
}

#content #main  #main-content {
	padding:10px 0 10px 0;
	font-size:14px;
}

#footer {
	color:#fff;
	font-size:13px;
	margin:10px 20px;
	text-align:left;
}


#footer a {
	color:#fff;
	font-size:13px;
	text-align:center;
}

/* PAGE MENU */
#content #main ul#main-links-nav
{
	list-style:none;
	padding:0;
	margin:0;
}

#content #main ul#main-links-nav li
{
	float:left;
	margin:0 18px 0 0;
}

#content #main ul#main-links-nav li a {
	-moz-border-radius:3px 3px 3px 3px;
	border-radius:3px 3px 3px 3px;
	background:repeat-x scroll 0 0 transparent;
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
	padding:4px 10px;
	text-shadow:-1px -1px 0 #333333;
	text-decoration:none;
}

/* MESSAGE BOX */
#message-box {
	border:solid 1px #787878;
	background:#F0F0F0;
	color:#222222;
	margin:5px 0 12px 0px;
	text-align:left;
	display:block;
	padding-right:20px;
}

#error-box {
	border:solid 1px #C34A2C;
	background:#FFBABA;
	color:#222222;
	margin:5px 0 12px 0px;
	text-align:left;
	display:block;
	padding-right:20px;
}

#success-box {
	border:solid 1px #FFEC8B;
	background:#FFF8C6;
	color:#222222;
	margin:5px 0 12px 0px;
	text-align:left;
	display:block;
	padding-right:20px;
}

/* COMMON */
.clear {
	clear:both;
}

.bold {
	font-weight:bold;
}

.hidden-element {
	display:none;
}

a.no-underline {
	text-decoration:none;
}

.small-font {
	font-size:12px;
}

/* NOT SO COMMON */
#beta-area {
	font-size:18px;
	color:#00000;
}



/* -------------------------------------------------------------------------------------------------------- */
/* --- Custom css ----------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------- */

.page-content {
	background:#fff;
    margin-left: 225px;
    margin-top: 0;
    min-height: 760px;
    padding:0;
}
.page-container .page-sidebar{margin-top:42px;}
.page-sidebar .sidebar-toggler {
    background-repeat: no-repeat;
    cursor: pointer;
    height: 29px;
    margin-left: 175px;
    margin-top: 15px;
	margin-bottom:15px;
    opacity: 0.5;
    width: 29px;
}

.page-sidebar ul > li > a > .arrow:before {  
   float: right;
   margin-top: 0px;
   margin-right: 5px;
   display: inline;
   font-size: 16px;
   font-family: FontAwesome;
   height: auto;
   content: "\f104";
   font-weight: 300;
   text-shadow:none;
}


/* --- Portlet box ------------------------------------------------------------------------ */ 
.dashboard-item div, .dashboard-log-item div{
	box-sizing:boeder-box;
	-moz-box-sizing:boeder-box;
	-webkit-box-sizing:boeder-box;
}
.dashboard-item, .dashboard-log-item{
	clear: both;
	margin-top: 0px;
	margin-bottom: 25px;
	padding: 0px;
	
	border-radius:0 !important;
	-moz-border-radius:0 !important;
	-webkit-border-radius:0 !important;
}
.dashboard-item .dashboard-title, .dashboard-log-item .dashboard-log-title{
	font-family:'Open Sans',sans-serif;
	color:#fff;
	display: inline-block;
    float: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
    padding: 8px 10px;
}
.dashboard-item .dashboard-content, .dashboard-log-item .dashboard-log-content{
	clear: both;  
	padding: 0;
	background:#fff;
	padding:10px;
}

/* box 1 blue ---------------------------------------------- */
.dashboard-item:nth-child(1) {
  background-color: #4b8df8 !important;
   border: 1px solid #b4cef8;
   border-top: 0;
}
.dashboard-item:nth-child(1) .dashboard-title{
	background-color: #4b8df8 !important;
}

/* box 2 green ---------------------------------------------- */
.dashboard-item:nth-child(2) {
  background-color: #35aa47 !important;
   border: 1px solid #77e588;
   border-top: 0;
}
.dashboard-item:nth-child(2) .dashboard-title{
	background-color: #35aa47 !important;
}

/* box 3 yellow ---------------------------------------------- */
.dashboard-item:nth-child(3) {
  background-color: #ffb848 !important;
   border: 1px solid #fccb7e;
   border-top: 0;
}
.dashboard-item:nth-child(3) .dashboard-title{
	background-color: #ffb848 !important;
}

/* box 4 purple --------------------------------------------- */
.dashboard-item:nth-child(4) {
  background-color: #852b99 !important;
   border: 1px solid #af5cc1;
   border-top: 0;
}
.dashboard-item:nth-child(4) .dashboard-title{
	background-color: #852b99 !important;
}
/* end of color box ---------------------------------------- */

/* box 1 blue ---------------------------------------------- */
.dashboard-log-item:nth-child(1) {
  background-color: #4b8df8 !important;
   border: 1px solid #b4cef8;
   border-top: 0;
}
.dashboard-log-item:nth-child(1) .dashboard-log-title{
	background-color: #4b8df8 !important;
}

/* box 2 green ---------------------------------------------- */
.dashboard-log-item:nth-child(2) {
  background-color: #35aa47 !important;
   border: 1px solid #77e588;
   border-top: 0;
}
.dashboard-log-item:nth-child(2) .dashboard-log-title{
	background-color: #35aa47 !important;
}

/* box 3 yellow ---------------------------------------------- */
.dashboard-log-item:nth-child(3) {
  background-color: #ffb848 !important;
   border: 1px solid #fccb7e;
   border-top: 0;
}
.dashboard-log-item:nth-child(3) .dashboard-log-title{
	background-color: #ffb848 !important;
}

/* box 4 purple --------------------------------------------- */
.dashboard-log-item:nth-child(4) {
  background-color: #852b99 !important;
   border: 1px solid #af5cc1;
   border-top: 0;
}
.dashboard-log-item:nth-child(4) .dashboard-log-title{
	background-color: #852b99 !important;
}
/* end of color box ---------------------------------------- */

/***
Portlets
***/
.portlet  {
  clear: both;
  margin-top: 0px;
  margin-bottom: 25px;
  padding: 0px;
}

.portlet > .portlet-title {  
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.portlet > .portlet-title:after,
.portlet > .portlet-title:before {
  content: "";
  display: table;
  line-height: 0;
}

.portlet > .portlet-title:after {
  clear: both;
}

.portlet > .portlet-title > .caption {
  float: left;
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 8px; 
}

.portlet > .portlet-title > .caption > i {
  float: left;
  margin-top: 4px;
  display: inline-block !important;
  font-size: 13px;
  margin-right: 5px;
  color: #666;
}

.portlet.blue > .portlet-title > .caption, .portlet-title.blue > .caption, 
.portlet.green > .portlet-title > .caption, .portlet-title.green > .caption,
.portlet.yellow > .portlet-title > .caption, .portlet-title.yellow > .caption,
.portlet.red > .portlet-title > .caption, .portlet-title.red > .caption,
.portlet.purple > .portlet-title > .caption, .portlet-title.purple > .caption,
.portlet.grey > .portlet-title > .caption, .portlet-title.dark-grey > .caption,
.portlet.orange > .portlet-title > .caption, .portlet-title.orange > .caption{
  color: #fff;
}

.portlet.box.blue > .portlet-title > .caption > i, 
.portlet.box.green > .portlet-title > .caption > i,
.portlet.box.grey > .portlet-title > .caption > i,
.portlet.box.yellow > .portlet-title > .caption > i, 
.portlet.box.red > .portlet-title > .caption > i,  
.portlet.box.purple > .portlet-title > .caption > i, 
.portlet.box.light-grey > .portlet-title > .caption > i,
.portlet.box.orange > .portlet-title > .caption > i{
  color: #fff;
}

.sortable .portlet > .portlet-title {
  cursor: move;
}

.portlet > .portlet-title > .tools,
.portlet > .portlet-title > .actions
 {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-top: 6px;
  float: right;
}

.portlet > .portlet-title > .tools > a {
  display: inline-block;
  height: 16px;
  margin-left:5px;
}

.portlet > .portlet-title > .actions > .dropdown-menu i {
  color: #000 !important;
}

.portlet > .portlet-title > .tools > a.remove {
  margin-bottom: 2px;
  background-image:url(../img/portlet-remove-icon.png);
  background-repeat: no-repeat;
  width: 11px;
}

.portlet > .portlet-title > .tools > a.config {
  margin-bottom: 2px;
  background-image:url(../img/portlet-config-icon.png);
  background-repeat: no-repeat;
  width: 12px;
}

.portlet > .portlet-title > .tools > a.reload {
  margin-bottom: 2px;
  background-image:url(../img/portlet-reload-icon.png);
  width: 13px;
}

.portlet > .portlet-title > .tools > a.expand {
  margin-bottom: 2px;
  background-image:url(../img/portlet-expand-icon.png);
  width: 14px;
}

.portlet > .portlet-title > .tools > a.collapse {
  margin-bottom: 2px;
  background-image:url(../img/portlet-collapse-icon.png);
  width: 14px;
}

.portlet > .portlet-title > .tools > a:hover {
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity:.6;  
  filter:'alpha(opacity=60)';
}

.portlet > .portlet-title > .actions > .btn-group {
  margin-top: -12px;
}

.portlet > .portlet-title > .actions > .btn {
  padding: 4px 10px;
  margin-top: -14px;
}

.portlet > .portlet-title > .actions > .btn-group > .btn {
  padding: 4px 10px;
  margin-top: -1px;
}

.portlet > .portlet-title > .actions > .btn.btn-sm {
  padding: 3px 8px;
  margin-top: -14px;
}

.portlet > .portlet-title > .actions > .btn-group > .btn-sm {
  padding: 3px 8px;
  margin-top: -1px;
}

.portlet > .portlet-title > .pagination.pagination-sm {
  float: right !important;
  display: inline-block !important;
  margin: 0px;
  margin-top: -4px;
}

.portlet > .portlet-body {
  clear: both;  
  padding: 0;  
}

.portlet > .portlet-body.light-blue, .portlet.light-blue {
  background-color: #bfd5fa  !important;
}

.portlet > .portlet-body.blue, .portlet.blue {
  background-color: #4b8df8 !important;
}

.portlet > .portlet-body.red, .portlet.red {
  background-color: #e02222 !important;
}

.portlet > .portlet-body.yellow, .portlet.yellow {
  background-color: #ffb848 !important;
}

.portlet > .portlet-body.green, .portlet.green {
  background-color: #35aa47 !important;
}

.portlet > .portlet-body.purple, .portlet.purple {
  background-color: #852b99 !important;
}

.portlet > .portlet-body.light-grey, .portlet.light-grey {
  background-color: #fafafa !important;
}

.portlet > .portlet-body.grey, .portlet.grey {
  background-color: #555555 !important;
}ff9c00

.portlet > .portlet-body.orange, .portlet.orange {
  background-color: #ff9c00 !important;
}



/* --- Charater icon  ----------------------------------------------- */
.char{
	background:#f5f5f5;
	color: #fff !important;
    display: inline-block;
    font-family: verdana;
    font-style: normal;
    padding: 0;
	width:20px;
	text-align:center;
    text-transform: uppercase;
	line-height:normal;
	/*margin:0 !important;*/
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
ul.page-sidebar-menu > li a i.icon{
	color:#fff;
	/*background:#f5f5f5;*/
	padding:4px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.page-sidebar-menu > li a i{background-color:#4b8df8;}
.page-sidebar-menu > li:nth-child(3) a i{background-color:#4b8df8;}
.page-sidebar-menu > li:nth-child(4) a i{background-color:#35aa47;}
.page-sidebar-menu > li:nth-child(4n) a i{background-color:#35aa47;}
.page-sidebar-menu > li:nth-child(5n) a i{background-color:#852b99;}
.page-sidebar-menu > li:nth-child(6n) a i{background-color:#ffb848;}
.page-sidebar-menu > li:last-child a i{background-color:#e02222;}

.page-sidebar-menu > li a i.i-blue{background-color:#4b8df8;}
.page-sidebar-menu > li a i.i-green{background-color:#35aa47;}
.page-sidebar-menu > li a i.i-purple{background-color: #852b99;}
.page-sidebar-menu > li a i.i-red{background-color:#e02222;}
.page-sidebar-menu > li a i.i-yellow{background-color:#ffb848;}

.char:before{font-size:16px;}
.char-A:before{content:"A";}
.char-B:before{content:"B";}
.char-C:before{content:"C";}
.char-D:before{content:"D";}
.char-E:before{content:"E";}
.char-F:before{content:"F";}
.char-G:before{content:"G";}
.char-H:before{content:"H";}
.char-I:before{content:"I";}
.char-J:before{content:"J";}
.char-K:before{content:"K";}
.char-L:before{content:"L";}
.char-M:before{content:"M";}
.char-N:before{content:"N";}
.char-O:before{content:"O";}
.char-P:before{content:"P";}
.char-Q:before{content:"Q";}
.char-R:before{content:"R";}
.char-S:before{content:"S";}
.char-T:before{content:"T";}
.char-U:before{content:"U";}
.char-V:before{content:"V";}
.char-W:before{content:"W";}
.char-X:before{content:"X";}
.char-Y:before{content:"Y";}
.char-Z:before{content:"Z";}

.char.fa{padding:2px 0;}
/* --- End of Charater icon  ----------------------------------------------- */




/* Login page ------------------------------------------------------------------------------------------- */
.login div{background:none; text-align:center;
	box-sizing:border-box;
}
.login #menu{display:none;}
.login #content #main{background:#fff;
	display:inline-block;
}
.login .login_header, .login #logo{width:100%; height:auto; float:left; text-align:center;}
.login-logo{
	background:url(../images/logo-big.png) no-repeat;
	width:84px; height:19px; display:inline-block; margin:60px auto 0; padding:15px;
	text-indent:-9999px;
}
.login #footer{text-align:center;}
.login #footer a{color:#999;}

/* table design --------------------------------------------------------------- */

table {
  border-collapse: collapse;
  border-spacing: 0;
  border:1px solid #ccc;
}
table table{border:none;}
table thead{border-bottom:1px solid #ccc;}
table tr th{border-right:1px solid #ccc;}
table tr th:last-child{border-right:none;}

table tr{border-bottom:1px solid #ccc;}
table tr:last-child{border-bottom:none;}
table tr td{border-right:1px solid #ccc;}
table tr td:last-child{border-right:none;}

table {
  max-width: 100%;
  background-color: transparent;
}

th {
  text-align: left;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}

.table caption + thead tr:first-child th,
.table colgroup + thead tr:first-child th,
.table thead:first-child tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table .table {
  background-color: #ffffff;
}

.table-condensed thead > tr > th,
.table-condensed tbody > tr > th,
.table-condensed tfoot > tr > th,
.table-condensed thead > tr > td,
.table-condensed tbody > tr > td,
.table-condensed tfoot > tr > td {
  padding: 5px;
}

.table-bordered {
  border: 1px solid #dddddd;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}

table col[class*="col-"] {
  display: table-column;
  float: none;
}

table td[class*="col-"],
table th[class*="col-"] {
  display: table-cell;
  float: none;
}

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}

.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td {
  background-color: #d0e9c6;
  border-color: #c9e2b3;
}

.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
  border-color: #eed3d7;
}

.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td {
  background-color: #ebcccc;
  border-color: #e6c1c7;
}

.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
  border-color: #fbeed5;
}

.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td {
  background-color: #faf2cc;
  border-color: #f8e5be;
}
@media (max-width: 768px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    border: 1px solid #dddddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
    background-color: #fff;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > thead > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > thead > tr:last-child > td,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}


#main-content{
    margin-bottom: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}
#main-content table{
	width:100%;
}



/* ---------------------------------------------------------------------------- */
#main-title{
	color: #666;
    display: block;
    font-family: 'Open Sans',sans-serif;
    font-size: 30px !important;
    font-weight: 300;
    letter-spacing: -1px;
    margin: 0 0 15px;
    padding: 0 !important;
}
input[type="text"], input[type="email"], input[type="password"], textarea{
	background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    box-shadow: none;
    color: #333333;
    font-size: 14px;
    font-weight: normal;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	padding:5px 10px;
}
/* sidebar container */
 
.page-sidebar-closed  .page-sidebar {
  width: 35px;
}

.page-sidebar-closed  .page-content {
  margin-left: 35px !important;
}
/***
Sidebar toggler(show/hide)
***/

.page-sidebar .sidebar-toggler {
  cursor: pointer; 
  opacity: 0.5;
  filter: alpha(opacity=50);
  margin-top: 15px;
  margin-left: 175px;
  width: 29px;
  height: 29px;
  background-repeat: no-repeat;
}

.sidebar-toggler:hover { 
  filter: alpha(opacity=100);
  opacity: 1;
}

.page-sidebar-closed .sidebar-toggler {  
  margin-left: 3px;
}

.page-sidebar-closed .page-sidebar .sidebar-search .form-container {  
  width: 29px;
  margin-left: 3px; 
}

.page-sidebar-closed .page-sidebar .sidebar-search .form-container .input-box {  
  border-bottom: 0 !important;
}

.page-sidebar-closed .page-sidebar .sidebar-search .form-container input[type="text"] {
  display: none;
}

.page-sidebar-closed .page-sidebar .sidebar-search .form-container .submit { 
  margin-top: 5px !important;
  margin-left: 7px !important;
  margin-right: 7px !important;
  display: block !important;
}

.page-sidebar-closed .page-sidebar .sidebar-search.open .form-container {
  width: 255px;
  position: relative;
  z-index: 1;
  padding-top: 0px;
}

.page-sidebar-closed .page-sidebar .sidebar-search.open .form-container input[type="text"] {  
  margin-top: 7px;
  margin-left: 8px;
  padding-left: 10px;
  padding-bottom: 2px;
  width: 185px;
  display: inline-block !important;
}

.page-sidebar-closed .page-sidebar .sidebar-search.open .form-container .submit {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 11px 8px 9px 6px !important;
}

.page-sidebar-closed .page-sidebar .sidebar-search.open .form-container .remove {
  background-repeat: no-repeat;
  width: 11px;
  height: 11px;
  margin: 12px 8px 9px 8px !important;
  display: inline-block !important;
  float: left !important;
}

.page-sidebar-closed .page-sidebar-menu > li > a .selected {
  right: -3px !important;
}

.page-sidebar-closed .page-sidebar-menu > li > a > .title,
.page-sidebar-closed .page-sidebar-menu > li > a > .arrow {
  display: none !important;
}

.page-sidebar-closed .sidebar-toggler {
  margin-right: 3px;
}

.page-sidebar-closed .page-sidebar .sidebar-search {
  margin-top: 6px;
  margin-bottom: 6px;
}

.page-sidebar-closed .page-sidebar-menu {
  width: 35px !important;
}

.page-sidebar-closed .page-sidebar-menu > li > a {
  padding-left: 7px;
}
.page-sidebar{display:block;}
.mobile-menu-btn{display:none;}
.desktop-show{display:block !important;}

@media screen and (max-width: 1200px){
	.h-btn{font-size:16px; padding:0 10px; line-height:60px;}
}

@media screen and (max-width: 992px){
	body{width:100%; min-width:100%; max-width:100%; float:left;}
	.desktop-show{display:none !important;}
	#container{width:100%; min-width:100%; max-width:100%; float:left;}
	#footer{width:100%; margin:0; padding:10px; float:left;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
	}
	.main-header #menu .user{display:none;}
	.mobile-menu-btn{display:block;}
	.mobile-menu-btn a:hover, .mobile-menu-btn a:focus{background-color:#333 !important;}
	.page-container .page-sidebar{display:none; width:100%; border-top:1px solid #444;}
	.page-content{margin-left:0; width:100%; float:left;}
}

@media screen and (max-width: 767px){
	.top-box-4{width:100%; margin-bottom:10px; padding:0;}
	#dashboard-summary, .dashboard-item{width:100% !important;}
	#dashboard-log{margin:0 !important;}
	#dashboard-log, #dashboard-log .dashboard-log-item{width:100% !important;}
}



/* -------------------------------------------------------------------------------------------------------- */
/* --- Responsive menu ------------------------------------------------------------------------------------ */
/* -------------------------------------------------------------------------------------------------------- */
/*! responsive-nav.js 1.0.32 by @viljamis */
@media screen and (max-width: 767px){
	.nav-collapse ul {
	  margin: 0;
	  padding: 0;
	  width: 100%;
	  display: block;
	  list-style: none;
	}
	
	.nav-collapse li {
	  width: 100%;
	  display: block;
	}
	
	.js .nav-collapse {
	  clip: rect(0 0 0 0);
	  max-height: 0;
	  position: absolute;
	  display: block;
	  overflow: hidden;
	  zoom: 1;
	}
	
	.nav-collapse.opened {
	  max-height: 9999px;
	}
	
	.disable-pointer-events {
	  pointer-events: none !important;
	}
	
	.nav-toggle {
	  -webkit-tap-highlight-color: rgba(0,0,0,0);
	  -webkit-touch-callout: none;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  -o-user-select: none;
	  user-select: none;
	}
}

@media screen and (min-width: 768px) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}
















